{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a CyM Generadores</h1>
    <p>En CyM Generadores, nos especializamos en ofrecer soluciones de generación de energía confiables y eficientes. Ya sea que necesites un generador para uso residencial, comercial o industrial, tenemos la opción perfecta para ti.</p>
    <p>Nuestros generadores están diseñados para proporcionar energía continua durante cortes de electricidad, eventos al aire libre o cualquier situación donde se requiera una fuente de energía confiable. Con una amplia gama de capacidades y características, nuestros generadores se adaptan a tus necesidades específicas.</p>
    <p>Explora nuestra selección de generadores y descubre cómo podemos ayudarte a mantener tu energía en marcha sin interrupciones.</p>
{% endblock %}